<div class="sidebar" data-active-color="rose" data-background-color="black">
    <div class="logo">
        <a class="simple-text">Placements</a>
    </div>
    <div class="logo logo-mini">
        <a class="simple-text">PP</a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo"><img alt="avatar" src="/img/default-avatar.png"></div>
            <div class="info">
                <a>{{name}}</a>
            </div>
        </div>
        <ul class="nav">
            {{#if academia}}
            <li class="active">
                <a href="/academia"><i class="material-icons">perm_identity</i>
                <p>Academia</p></a>
            </li>
            {{else}}
                {{#if dashboardActive}}
                    <li class="active">
                {{else}}
                    <li>
                {{/if}}
                    <a href="/dashboard"><i class="material-icons">dashboard</i>
                    <p>Dashboard</p></a>
                </li>
                {{#unless evarsity}}
                    {{#if evarsityActive}}
                        <li class="active">
                    {{else}}
                        <li>
                    {{/if}}            
                        <a href="/dashboard/evarsity"><i class="material-icons">perm_identity</i>
                        <p>e Varsity</p></a>
                    </li>
                {{/unless}}
                {{#if academicActive}}
                    <li class="active">
                {{else}}
                    <li>
                {{/if}}
                    <a href="/dashboard/academics"><i class="material-icons">description</i>
                    <p>Academic Details</p></a>
                </li>
                {{#if contactActive}}
                    <li class="active">
                {{else}}
                    <li>
                {{/if}}
                    <a href="/dashboard/contactDetails"><i class="material-icons">contacts</i>
                    <p>Contact Details</p></a>
                </li>
                {{#if personalActive}}
                    <li class="active">
                {{else}}
                    <li>
                {{/if}}
                    <a href="/dashboard/personalDetails"><i class="material-icons">account-edit</i>
                    <p>Personal Details</p></a>
                </li>
                {{#if skillsActive}}
                    <li class="active">
                {{else}}
                    <li>
                {{/if}}
                    <a href="/dashboard/skillsAndInterests"><i class="material-icons">worker</i>
                    <p>Skills and Interests</p></a>
                </li>
                {{#if askusActive}}
                    <li class="active">
                {{else}}
                    <li>
                {{/if}}
                    <a href="#"><i class="material-icons">question_answer</i>
                    <p>Contact Us</p></a>
                </li>
            {{/if}}
        </ul>
    </div>
</div>
