<div class="card">
    <form action="" class="form-horizontal" method="POST">
        <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title">Information</h4>
        </div>
        <div class="card-content">
            <div class="row">
                <label class="col-sm-2 label-on-left">Permanent Address</label>
                <div class="col-sm-7">
                    <div class="form-group label-floating">
                        <label class="control-label"></label>
                        <p class="form-control-static">{{pAddress}}</p>
                    </div>
                </div>
                <label class="col-sm-3 label-on-right">
                </label>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Current Address</label>
                <div class="col-sm-7">
                    <div class="form-group label-floating">
                        <label class="control-label"></label>
                        <input class="form-control" name="cAddress" type="text" {{#if cAddress}}value="{{cAddress}}"{{/if}}>
                    </div>
                </div>
                <label class="col-sm-3 label-on-right">
                </label>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Official Email</label>
                <div class="col-sm-7">
                    <div class="form-group label-floating">
                        <label class="control-label"></label>
                        <p class="form-control-static">{{email}}</p>
                    </div>
                </div>
                <label class="col-sm-3 label-on-right">
                </label>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Personal Email</label>
                <div class="col-sm-7">
                    <div class="form-group label-floating">
                        <label class="control-label"></label>
                        <input class="form-control" name="pEmail" type="email" {{#if pEmail}}value="{{pEmail}}"{{/if}}>
                    </div>
                </div>
                <label class="col-sm-3 label-on-right">
                </label>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Parents' Contact Number</label>
                <div class="col-sm-7">
                    <div class="form-group label-floating">
                        <label class="control-label"></label>
                        <input class="form-control" name="parentsTel" type="text" {{#if parentsTel}}value="{{parentsTel}}"{{/if}}>
                    </div>
                </div>
                <label class="col-sm-3 label-on-right">
                </label>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Personal Contact Number</label>
                <div class="col-sm-7">
                    <div class="form-group label-floating">
                        <label class="control-label"></label>
                        <input class="form-control" name="personalTel" type="text" {{#if personalTel}}value="{{personalTel}}"{{/if}}>
                    </div>
                </div>
                <label class="col-sm-3 label-on-right">
                </label>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-rose btn-fill" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>